body{

  background-color:lightgray;
}
.w{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 1200px;
}
.r{
  width: 100%;

  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  column-gap:10px;
}

.c{
  background-color: #fff;  
  padding: 10px;
  box-sizing: border-box;
  flex-basis: auto;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}


